@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grid-color: #50a4ff;
  --radial-color-inner: #ffffff11;
  --radial-color-outer: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* --grid-color: #3a3a3a; */
    --grid-color: rgb(0, 92, 20);
    --radial-color-inner: #00000011;
    --radial-color-outer: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}

body * {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-bg {
  --grid-line: var(--grid-color, #223);
  --gap: 20px;
  --line-width: 2px;
  --angle: 90deg;
  height: 100%;
  margin: 0;
  background-color: var(--background);
  background: 
    /* repeating-linear-gradient(calc(-1 * var(--angle)), var(--grid-line) 0 1px, transparent var(--line-width) var(--gap)), */ repeating-linear-gradient(
      var(--grid-line) 0 1px,
      transparent var(--line-width) var(--gap)
    ),
    repeating-linear-gradient(
      var(--angle),
      var(--grid-line) 0 1px,
      transparent var(--line-width) var(--gap)
    );
  /* animation: grid-bg-dark 1000ms linear infinite; */
  transition: 500ms;
  /* background-color: red; */
  animation: slide-left 5s linear infinite;
  --x-angle: 70deg;
  --y-translate : 0px;
  width: 4000px;
}

.p3d{
  perspective: 400px;
  overflow: hidden;
}

@keyframes slide-left {
  from{
    transform: translateX(-1260px) translateY(var(--y-translate)) rotateX(var(--x-angle));
  }
  to{
    transform: translateX(-1200px) translateY(var(--y-translate)) rotateX(var(--x-angle));
  }
}

.radial {
  background: radial-gradient(
    var(--radial-color-inner),
    var(--radial-color-outer)
  );
}

@keyframes grid-bg-dark {
  0% {
    --grid-line: var(--grid-color, #223);
  }
  20% {
    --grid-line: #333;
  }
  40% {
    --grid-line: #222;
  }
  60% {
    --grid-line: #111;
  }
  80% {
    --grid-line: #222;
  }
  100% {
    --grid-line: var(--grid-color, #223);
  }
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
